$margin-left : 30px;
$input-width : 350px;
$input-padding : 14px 10px 10px 10px;

.user-login-form{
    position: absolute;
    margin-top: 55px;
    flex-direction: column;
    margin-left: 612px;
    @media screen and (max-width: 1200px) {
        margin-left: 10px;
    }
    @media screen and (max-width: 768px) {
        margin-top: 49px;
    }
}
.login-container{
    //margin-top: 55px;
    background-color: #eeeeee;
    width: 450px;
    height: 512px;
    border-radius: 7px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    .login-des{
        font-size: 35px;
        font-weight: bold;
        padding-top: 50px;
        margin-left: $margin-left;
    }
    .input-login-des{
        margin-top: 10px;
        margin-left: $margin-left;
    }
    .email-input{
        font-size: 18px;
        margin-top: 5px;
        margin-left: $margin-left;
        padding: $input-padding;
        width: $input-width;
    }
    .password-input{
        font-size: 18px;
        margin-top: 5px;
        margin-left: $margin-left;
        padding: $input-padding;
        width: $input-width;
    }
    .remember-box{
        margin-top: 10px;
        margin-left: $margin-left;
    }
    
    .sign-btn{
        font-size: 20px;
        margin-top: 12px;
        margin-left: $margin-left;
        padding: 5px 10px 5px 10px;
        width: 373px;
    }
    .sign-up{
        margin-top: 12px;
    }
}