* {
    margin: 0; 
    padding: 0; 
    border: 0;
}

/* navgation을 감싸는 컨테이너 */
/* 메인 로고 */
#main-logo{
    margin:-5px 10px 0px 5px;
    width: 50px;
    height: 50px;
}

/* 검색창, 버튼 */
#search-form-center{
    text-align: center;
}
#search-form{
    display: inline;
}
#nav-search{
    position: absolute;
    left: 35%;
}
#search-box{
    margin: 0px 0px 0px 100px ;
    width : 200px;
    height: 30px;
    border-radius: 7px;
    box-shadow: 2px 2px 1px 1px gray inset;
    padding-left: 5px;
}
#search-button{
    margin-left: 5px;
    background-color: #FFFFFF;
    color:#000000;
    width: 60px;
    height: 30px;
    border-radius: 7px;
}
#search-button:hover{
    background-color: rgba(0, 0, 180, .3);
    color:#FFFFFF;
}