* {
    margin: 0; 
    padding: 0; 
    border: 0;
}

/* navgation을 감싸는 컨테이너 */
/* 메인 로고 */
#main-logo{
    margin:-5px 10px 0px 5px;
    width: 50px;
    height: 50px;
}

/* 검색창, 버튼 */
#nav-search{
    position: absolute;
    left: 35%;
}

.search-box{
    width : 200px;
    height: 20px;
    margin-left: 150px;
    margin-right: 10px;
}
.search-btn{
    margin-bottom: 3px;
}
