$container-color : #eeeeee;

.user-register-form{
    margin-left: 70px;
    position: absolute;
    top: 8%;
    @media screen and (max-width: 768px) {
        position: relative;
    }
}
.user-image-container{
    position: relative;
    background-color: $container-color;
    width: 512px;
    height: 128px;
    margin-top: 5px;
    border-radius: 7px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    .user-img-des{
        font-size: 18px;
        font-weight: bold;
        padding: 10px 0px 0px 10px;
    }
    img{
        background-color: #C3C3C3;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 20px 0px 0px 10px;
    }
    label{
        position: absolute;
        font-size: 12px;
        margin: 25px 0px 0px 20px;
        background-color: #101010;
        color: #c5c5c5;
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #000000;
        cursor: pointer;
        transition: 0.2s;
        &:hover{
            background-color: #2e2e2e;
            color: #ffffff;
        }
        &:active{
            background-color: #101010;
            color: #c5c5c5;
        }
    }
    span{
        position: absolute;
        margin: 60px 0px 0px 20px;
        font-size: 12px;
    }
}
.user-info-container{
    position: relative;
    background-color: $container-color;
    width: 512px;
    height: 612px;
    margin-top: 32px;
    border-radius: 7px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    .user-data-des{
        font-size: 18px;
        font-weight: bold;
        padding: 10px 0px 0px 10px;
    }
}