$container-color : #eeeeee;
$margin-left : 30px;
$input-width : 350px;
$input-padding : 14px 10px 10px 10px;

.user-register-form{
    //position: relative;
    position: absolute;
    margin: 55px 25px 0px 612px;
    @media screen and (max-width: 1200px) {
        margin-top: 55px;
        margin-left: 10px;
    }
    @media screen and (max-width: 768px) {
        margin-top: 49px;
    }
}
.user-image-container{
    position: relative;
    background-color: $container-color;
    width: 432px;
    height: 128px;
    border-radius: 7px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    .user-img-des{
        margin-left: $margin-left;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 0px 0px 10px;
    }
    img{
        background-color: #C3C3C3;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 20px 0px 0px $margin-left;
    }
    label{
        position: absolute;
        font-size: 12px;
        margin: 25px 0px 0px 20px;
        background-color: #101010;
        color: #c5c5c5;
        padding: 5px;
        border-radius: 3px;
        border: solid 1px #000000;
        cursor: pointer;
        transition: 0.2s;
        &:hover{
            background-color: #2e2e2e;
            color: #ffffff;
        }
        &:active{
            background-color: #101010;
            color: #c5c5c5;
        }
    }
    span{
        position: absolute;
        margin: 60px 0px 0px 20px;
        font-size: 12px;
    }
}
.user-info-container{
    position: relative;
    background-color: $container-color;
    width: 432px;
    height: 612px;
    margin-top: 32px;
    border-radius: 7px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    .user-data-des{
        margin-left: $margin-left;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 0px 0px 10px;
    }
    .email-container{
        margin: 30px 0px 10px $margin-left;
        input{
            font-size: 18px;
            margin-top: 5px;
            padding: $input-padding;
            width: $input-width;
        }
    }
    .nickname-container{
        margin: 10px 0px 10px $margin-left;
        input{
            font-size: 18px;
            margin-top: 5px;
            padding: $input-padding;
            width: $input-width;
        }
    }
    .password-container{
        margin: 10px 0px 10px $margin-left;
        input{
            font-size: 18px;
            margin-top: 5px;
            padding: $input-padding;
            width: $input-width;
        }
        input:nth-child(2){
            margin-bottom: 10px;
        }
    }
    .btn-container{
        margin-top: 12px;
        margin-left: $margin-left;
        button{
            font-size: 20px;
            margin-top: 12px;
            padding: 5px 10px 5px 10px;
            width: 373px;
        }
    }
}