* {
    margin: 0; 
    padding: 0; 
    border: 0;
}

#footer{
    position: absolute;
    margin-top: 910px;
    margin-left: 194px;
    width: 1725px;
    height: 45px;
    background-color: gray;
}